{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Example Dashboard
{% endblock sub_title %}

{% block sub_heading %}
  Example Dashboard
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.home' %}" class="pure-menu-link">
              <i class="fa fa-home"></i>
              Home
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-cog" aria-hidden="true"></i>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>
              European Union Countries which can use the
              'Zero Rated EC' VAT code
            </th>
            <th>ISO alpha-2</th>
            <th>ISO alpha-3</th>
          </tr>
        </thead>
        <tbody>
          {% for x in vat_settings.european_union_countries.all %}
            <tr valign="top">
              <td>
                {{ x.name }}
              </td>
              <td>
                {{ x.iso2_code }}
              </td>
              <td>
                {{ x.iso3_code }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

