<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>VAT Settings</h4>
    </div>
  </div>
  {% if user.is_superuser %}
    <div class="r-box">
      <a href="{% url 'finance.vat.settings.update' %}" class="pure-menu-link">
        <i class="fa fa-gbp"></i>
        VAT Settings
      </a>
    </div>
  {% endif %}
</div>
